@model IEnumerable<work_01.Models.Type>
@{
    ViewBag.Title = "Type";
}

<div class="container">
    <div class="row">
        <div class="col-12">
            <h2>Type List</h2>
            <div class="d-flex justify-content-end">
                <a class="btn btn-primary btn-sm mb-2" href="@Url.Action("Create","Types")">Add New</a>
            </div>
            <table class="table table-bordered">
                <thead class="table-light">
                    <tr>
                        <th>Id</th>
                        <th>Name</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.Id</td>
                            <td>@item.CarType</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>


